<!DOCTYPE html>
<html>

<head>
  <script defer src="https://vuejs.org/js/vue.js"></script>
  <script defer type="text/javascript" src="./vue.js"></script>
  <script defer type="text/javascript" src="./words.js"></script>
  <meta charset="UTF-8">
  <title>title</title>
</head>

<body>

  <div id="words">
    <p :class="words1" v-for="word in reverseArray(words1)">{{ word }}</p>
  </div>

  <div id="inputForm">

    <input type="text" v-model="textField" ref="textField" @keyup.enter="prependWord" v-on:input="inputString = $event.target.value" placeholder="Write here">
    <!-- add validation for submit? -->
    <input type="submit" value="Submit" @click="prependWord">

    <p :class="inputData">{{ inputData }} <br>
      {{ inputString }}
    </p>
  </div>

  <!-- 
  <div id="wordCheck">
      <input type="submit" value="Check">
      <p v-if="arrayCheck">{{ arrayCheck }}</p>
  </div>
-->

</body>

</html>